h1 {
    color: rgb(224, 13, 13);
    font-size: 45px;
}


/* buttons */

#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
    width: 80px;
    height: 52px;
    margin: auto;
    border: 1px solid rgb(224, 13, 13);
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    background-color: beige;
}


/* Reset Button */

#but {
    box-sizing: border-box;
    width: 10%;
    height: 40px;
    border: 3px solid rgb(224, 13, 13);
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(2, 2, 2);
    color: white;
    font-size: 20px;
    cursor: pointer;
}


/* Player turn space */

#print {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(2, 2, 2);
    ;
    font-size: 20px;
}


/* Main Container */

#main {
    text-align: center;
}


/* Game Instruction Text */

#ins {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(2, 2, 2);
    ;
    font-size: 17px;
}